body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-custom {
  background-color: #e5e5e5;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

textarea {
  font-size: 18px;
  width: 500px;
  height: 300px;
}

.textarea-adjust {
  width: fit-content;
  padding-right: 0;
}

.btn-adjust {
  padding-left: 5px;
}

.btn {
  /* override bootstrap */
  margin-top: 2px;
}

.top-align {
  /* override bootstrap */
  vertical-align: top;
}