body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-custom {
  background-color: #e5e5e5;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

textarea {
  font-size: 18px;
  width: 500px;
  height: 300px;
}

.textarea-adjust {
  width: fit-content;
  padding-right: 0;
}

.btn-adjust {
  padding-left: 5px;
}

.btn {
  /* override bootstrap */
  margin-top: 2px;
}

.top-align {
  /* override bootstrap */
  vertical-align: top;
}

.notify-hide {
  display: none;
}

.notify-show {
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  top: 14px;
  -webkit-animation: KEYFRAME-NAME 1.4s;
  -moz-animation:    KEYFRAME-NAME 1.4s;
  -o-animation:      KEYFRAME-NAME 1.4s;
  animation:         KEYFRAME-NAME 1.4s;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

}