body {
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-custom {
  background-color: #e5e5e5;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

textarea {
  font-size: 18px;
  width: 500px;
  height: 300px;
}

.textarea-adjust {
  width: fit-content;
  padding-right: 0;
}

.btn-adjust {
  padding-left: 5px;
}

.btn {
  /* override bootstrap */
  margin-top: 2px;
}

.top-align {
  /* override bootstrap */
  vertical-align: top;
}

.notify-hide {
  display: none;
}

.notify-show {
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  top: 14px;
  -webkit-animation: FADE-IN 1.4s;
  -moz-animation:    FADE-IN 1.4s;
  -o-animation:      FADE-IN 1.4s;
  animation:         FADE-IN 1.4s;
  /* -webkit-animation: spin .3s linear 1;
  -moz-animation: spin .3s linear 1;
  animation: spin .3s linear 1;   */
}

@-webkit-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADE-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* @-moz-keyframes spin { 50% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(90deg); } }
@keyframes spin {50% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } } */